# IDE specific files
.vs/
CMakeSettings.json
.idea/

# Build output
out/
build/
cmake-build-*/

# Test output
Testing/
TestResults/

# Singletons folder
data/Singletons/*

# Settings for Resharper
Folder.DotSettings

data/tracks/road/*

BackendCoverage.bat

UnitUtilitiesCoverage.bat

test_data