# IDE specific files
.vs/
CMakeSettings.json
.idea/

# Build output
out/
build/
cmake-build-*/

# Test output
Testing/
TestResults/

# Singletons folder
data/Singletons/*

# Database config connections
data/database_connection_settings.txt

# Settings for Resharper
Folder.DotSettings

#certificates
data/certificates/*

data/tracks/road/flo-experiment-track

BackendCoverage.bat
BackendCoverage.sh

FrontendCoverage.bat
FrontendCoverage.sh

UnitUtilitiesCoverage.bat
UnitUtilitiesCoverage.sh

RppUtilsCoverage.bat
RppUtilsCoverage.sh

Folder.DotSettings.user

temp/

src/simulatedDrivingAssistance/integrationTests/IntegrationTestConfig.h

Folder.DotSettings.user

enc_temp_folder

