# IDE specific files
.vs/
CMakeSettings.json
.idea/

# Build output
out/
build/
cmake-build-debug/

# Test output
Testing/
TestResults/

# Singletons folder
data/Singletons/*

# Settings for Resharper
Folder.DotSettings